footer {
    width: 100%;
    height: auto;
    padding: 0;
    text-align: center;
    background: #222222;
    .container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
        height: 344px;
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .logo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        max-width: 90%;
        margin: 0 auto;
        &>*:last-child {
            margin-left: 10px;
            position: relative;
            top: 6px;
        }
    }
    .copy__info {
        color: #777777;
        font-size: 14px;
        text-align: center;
    }
}