@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../../fonts/Poppinsregular.woff2);
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../../fonts/Poppinsbold.woff2);
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../../fonts/Poppinsbold.woff);
}
@font-face {
    font-family: 'Gilroy';
    src: url(../../fonts/gilroy/Gilroyextrabold.woff2);
}
@font-face {
    font-family: 'Gilroy';
    src: url(../../fonts/gilroy/Gilroylight.woff2);
}